<header class="header">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <link rel="stylesheet" href="/components/header/header.css" />
  <script defer src="/components/header/header.js"></script>
  <img src="/images/logo.jpg" alt="logo" class="header__img" />
  <nav class="header__menu-desktop">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/about.html">About</a></li>
      <li><a href="/pages/services.html">Services</a></li>
      <li><a href="/pages/portfolio.html">Portfolio</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
    </ul>
  </nav>
  <button class="header__button-desktop">Get free consultant</button>
  <i class="fas fa-bars header__menu-icon"></i>
  <nav class="header__menu-mobile">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/about.html">About</a></li>
      <li><a href="/pages/services.html">Services</a></li>
      <li><a href="/pages/portfolio.html">Portfolio</a></li>
      <li><a href="/pages/portfolio.html">Contact</a></li>
    </ul>
  </nav>
</header>
