<header class="header">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <link rel="stylesheet" href="./header.css" />
  <script defer src="./header.js"></script>
  <img src="../../images/logo.jpg" alt="logo" class="header__img" />
  <nav class="header__menu-desktop">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
  <button class="header__button-desktop">Get free consultant</button>
  <i class="fas fa-bars header__menu-icon"></i>
  <nav class="header__menu-mobile">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</header>
